.root { 
  padding: 90px 110px
}

.options-container {
  display: flex;
  justify-content: space-evenly;
}

.options-container  .MuiButton-root {
  background: yellow;
  color: blue;
  padding: 10px 15px;
  border-radius: 20px;
}